@model DoctorOnlineBooking.Models.Appointment
@{
    ViewBag.Title = "BookingDetails";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<body style=" background-image: url('../../Images/white-background-with-beautiful-flowers_23-2147600700.jpg');
        background-repeat: no-repeat;
        background-size: cover">

    <Center><h1>Your Booking Details</h1></Center>

    @using (Html.BeginForm())

    {

        <h2>Patient Details</h2>

        <div class="form-group">

            @Html.Label("Patient Name") :

            @Html.DisplayFor(model => model.Patient.PatientName, new { @class = "form-control" })

        </div>

        <div class="form-group">

            @Html.Label("Phone Number") :

            @Html.DisplayFor(model => model.Patient.PhoneNumber, new { @class = "form-control" })

        </div>

        <div class="form-group">

            @Html.Label("Age") :

            @Html.DisplayFor(model => model.Patient.PhoneNumber, new { @class = "form-control" })

        </div>

        <h2>Selected Doctor Details</h2>

        <div class="form-group">

            @Html.Label("Doctor Name") :

            @Html.DisplayFor(model => model.Doctor.DoctorName, new { @class = "form-control" })

        </div>

        <div class="form-group">

            @Html.Label("Doctor's Specialisation") :

            @Html.DisplayFor(model => model.Doctor.Specialisation, new { @class = "form-control" })

        </div>

        <div class="form-group">

            @Html.Label("Hospital Name") :

            @Html.DisplayFor(model => model.Doctor.HospitalName, new { @class = "form-control" })

        </div>

        <div class="form-group">

            @Html.Label("Address of the Hospital") :

            @Html.DisplayFor(model => model.Doctor.Address , new { @class = "form-control" })

        </div>
        <div class="form-group">

            @Html.Label("City") :

            @Html.DisplayFor(model => model.Doctor.City, new { @class = "form-control" })

        </div>
        <div class="form-group">

            @Html.Label("State") :

            @Html.DisplayFor(model => model.Doctor.State, new { @class = "form-control" })

        </div>


        <h2>Your Booking Date and Time</h2>

        <div class="form-group">

            @Html.Label("Appointment Date") :

            @Html.DisplayFor(model => model.BookingDate.Date, "{0:d MMM yyyy}", new { @class = "form-control" })

        </div>

        <div class="form-group">

            @Html.Label("Appointment Time") :

            @Html.DisplayFor(model => model.BookingSlot.TimeOfDay, new { @class = "form-control" })

        </div>

    }

</body>


